:root {
  --primary-color: #010D26;
  --second-color: #BAC2D9;
  --third-color: #758EBF;
  --white-color: #fff;
  --font-family: 'Noto Sans Mono', monospace;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
}

button:focus,
input:focus
{
  outline: none;
  box-shadow: none !important;
}

input::-webkit-inner-spin-button
{
  -webkit-appearance: none;
}

.form-control:focus {
  box-shadow: none;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border: 2px solid var(--primary-color);
  outline: 0 none;
}
/* --------------------- */
/* Input */
.label_input {
  font-family: var(--fuente-poppins);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: .1px;
  color: var(--black-color);
  margin-bottom: 10px;
}

.form-control {
  background: var(--white-color);
  border: 2px solid var(--primary-color);
  box-sizing: border-box;
  border-radius: .5rem;
  margin-bottom: 20px;
  height: 40px;
  padding: 15px;
  width: 100%;
  font-size: 16px;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
}

.form-control::placeholder {
  color: var(--primary-color);
}

.btn_primary {
  background-color: var(--primary-color);
  border: none;
  font-size: 18px;
  width: 100%;
  height: 40px;
  font-weight: bold;
  border-radius: 1rem;
  color: var(--white-color);
  cursor: pointer;
}

header {
  padding: 25px;
  background-color: var(--primary-color);
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav a,
header nav button  {
  color: var(--second-color);
  margin-right: 20px;
  font-size: 18px;
  text-decoration: none;
  background-color: var(--third-color);
  padding: 10px;
  font-weight: bold;
  letter-spacing: .5px;
  border: none;
  border-radius: .2rem;
  -webkit-border-radius: .2rem;
  -moz-border-radius: .2rem;
  -ms-border-radius: .2rem;
  -o-border-radius: .2rem;
  font-family: var(--font-family);
}

.active {
  background-color: #1e58cc;
  color: white;
}

.title-blog {
  text-align: center;
}

.card {
  padding: 10px;
  text-align: center;
}

.card h3 {
  cursor: pointer;
}

.card p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-align: left;
}

.list-blog {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.content-img {
  text-align: center;
}

.paragraph {
  text-align: left;
  padding: 30px;
}

.content {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.content-login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  padding: 0;
  margin: 0;
}

.content-logo {
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.content-tilte {
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  background-color: var(--third-color);
  padding: 15px;
  padding-bottom: 30px;
  color: var(--white-color);
  font-family: var(--fuente-poppins);
  text-align: center;
  position: relative;
  top: -20px;
  letter-spacing: 1px;
}

.content-tilte h3 {
  font-size: 18px;
}

.content-form {
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  background-color: var(--white-color);
  padding: 40px;
  position: relative;
  top: -40px;
  border: 1px solid var(--gray-14);
}

.content-profile {
  color: var(--primary-color);
  text-align: center;
  font-size: 48px;
}